.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db
lesson-01/02.js
lesson-01/02.js
lesson-02/01.js
lesson-03/01.js
lesson-04/01.js
lesson-04/02.js
lesson-04/03.js
qodana.yaml
